@page "/"
@model ChadRosenthal.Web.UI.Pages.IndexModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/_masterLayout.cshtml";
}

<h1>Message: @Model.Message</h1>
<h2>Main Body Content</h2>
<p>Bacon ipsum dolor amet jerky biltong pastrami, turkey turducken hamburger spare ribs tenderloin sirloin ribeye t-bone boudin drumstick leberkas flank. Porchetta turducken ham hock pig drumstick. Boudin picanha tenderloin leberkas, andouille cow doner turkey kielbasa swine shoulder pork belly. Cupim tenderloin kevin spare ribs, doner t-bone ribeye sausage jowl hamburger landjaeger. Ham hock tongue pork belly pastrami short ribs shoulder beef ribs, jerky sirloin pork loin pork pork chop rump.</p>

<p>Venison doner pork loin tenderloin pork belly ham. Boudin venison ribeye brisket jowl, ball tip cupim doner leberkas meatball short loin ham bresaola pork belly sirloin. Shankle kielbasa turkey tri-tip leberkas shoulder. Doner meatloaf fatback ground round pork loin shank hamburger filet mignon turducken picanha. Cupim andouille porchetta jowl.</p>
<p>
    Pork tri-tip pork loin, brisket rump porchetta swine ground round shank. Brisket sirloin turkey swine shankle tri-tip flank. Pig filet mignon shoulder chicken flank, buffalo brisket pork kielbasa. Biltong kevin chuck, pork belly hamburger t-bone spare ribs porchetta ham hock cupim. Cow boudin bresaola tongue. Leberkas shankle jerky, cow picanha strip steak beef bresaola bacon meatball filet mignon cupim brisket.
</p>
<h3>Secondary Header</h3>
<p>Filet mignon turducken andouille picanha spare ribs short ribs. Doner beef turducken, ribeye boudin beef ribs chuck swine jowl andouille. Beef jowl ball tip sausage meatball pork loin beef ribs. Pork tri-tip prosciutto ground round cow spare ribs sirloin filet mignon tongue shank. Boudin short ribs tenderloin chicken ball tip shoulder frankfurter. Flank chuck shoulder, ground round drumstick alcatra tongue shank corned beef spare ribs short loin jerky salami rump prosciutto.</p>

<p>Cow buffalo kevin, tri-tip cupim chicken landjaeger alcat
