/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Main Primary color */
html {
  font-size: 62.5%;
  line-height: 1.25;
  font-family: 'Karla', sans-serif;
}
body {
  background-color: #ffffff;
  border-top: 10px #1C053A solid;
}
.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  background-color: white;
  display: grid;
  grid-template-areas: "header header" "nav nav" "aside main" "footer footer";
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto 1fr auto;
}
.wrapper > header {
  grid-area: header;
  background-color: #4B2D73;
  color: #ffffff;
  padding: 1em;
}
.wrapper > header h1 {
  font-size: 3em;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
.wrapper > nav {
  grid-area: nav;
  background-color: #8F78AD;
}
.wrapper > aside {
  grid-area: aside;
}
.wrapper > main {
  grid-area: main;
  padding: 1em;
}
.wrapper > footer {
  grid-area: footer;
  color: #ffffff;
  background-color: #8F78AD;
  padding: 1em;
}
h1 {
  font-size: 3em;
  padding-bottom: 0.5em;
  margin: 0 0 1em;
}
h2 {
  font-size: 2.5em;
  padding-bottom: 0.5em;
}
h3 {
  font-size: 2em;
  padding-bottom: 0.5em;
}
p,
li,
blockquote {
  font-size: 1.6em;
  padding-bottom: 0.5em;
}
nav > ul > li {
  display: inline;
}
nav > ul > li a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2em;
  padding: 0.4em 0.4em;
  margin: 0.2em 0 0.2em 0.2em;
  background-color: #6B4E90;
  text-decoration: none;
}
nav > ul > li a:visited {
  color: #ffffff;
  background-color: #311557;
}
nav > ul > li a:hover {
  color: #6B4E90;
}
nav > ul > li a.active {
  color: #6B4E90;
  background-color: #311557;
}
a {
  color: #311557;
}
a:visited {
  color: #311557;
}
a:hover {
  color: #ffffff;
  background-color: #311557;
}
